{% extends "base.html" %}

{% block header %}
<h1>{% block title %}Delete Spaced Repetition Setting {% endblock %}</h1>
{% endblock %}

{% block content %}
<p>Are you sure you want to delete this spaced repetition setting?</p>
<p>This setting is for the deck '{{ deck.title }}' and the routine '{{ routine.title }}'</p>
<p>If you want to delete this setting, enter your password and press Delete.</p>
<form method="post">
    <label for="password">Enter your password:</label>
    <input type="password" id="password" name="password" required>
    <input type="submit" value="Delete">
</form>
{% endblock %}