{% extends "base.html" %}

{% block header %}
<h1>{% block title %}Graph Prototype{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="jxgbox" class="jxgbox"></div>

<link href="https://cdn.jsdelivr.net/npm/jsxgraph/distrib/jsxgraph.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/jsxgraph/distrib/jsxgraphcore.js" charset="UTF-8"></script>
<script src="{{ url_for('static', filename='js/memoryRetentionGraph.js') }}"></script>
<script type="text/javascript">
drawMemoryRetentionGraph(0.5, 0.1, 0.6);
</script>

{% endblock %}