{% extends "base.html" %}

{% block header %}
<h1>{% block title %}Spaced Repetition Suggestions for Revision{% endblock %}</h1>
{% endblock %}

{% block content %}

<div id="spaced_repetition_all_suggestions">
    {% for day in day_suggestions.keys() %}
        {% set suggestions = day_suggestions[day] %}
        {% if suggestions|length > 0 %}
            <div id="spaced_repetition_day_suggestions">
                <p>{{ day.strftime("%d/%m/%y") }}</p>
                {% for suggestion in suggestions %}
                    {% set setting = suggestion.spaced_repetition_setting %}
                    {% set memoryRetention = suggestion.projectedMemoryRetention %}
                    {% set deck = decks[setting["deck_id"]] %}
                    {% set routine = routines[setting["routine_id"]] %}

                    <a href="{{ url_for('learn.begin_learn', deck_id=deck['id'], routine_id=routine['id']) }}">
                    Revise {{ deck["title"] }} with {{ routine["title"] }} - {{ memoryRetention|round(2) }}</a>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}