{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Correcting{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="learning_step" id="correct">
    <p>{{ question }}</p>
    <p>Given answer: {{ to_correct_answer }}</p>
    <p>Actual answer: {{ actual_answer }}</p>
    <form method="post">
        <label for="answer">
        <input name="answer" id="answer" autofocus>
        <input type="submit" value="Answer">
    </form>
</div>
<div id="manual_correction_buttons">
    <form method="post">
        <label for="override_correction">Override correction:</label>
        <input type="submit" id="override_correction" value="Override correction">
        <input type="hidden" name="override">
        </form>
    <form method="post">
        <label for="skip_correction">Skip correction:</label>
        <input type="submit" id="skip_correction" value="Skip correction">
        <input type="hidden" name="skip">
    </form>
    <img class="help_icon" id="manual_corrections_help" src="{{ url_for('static', filename='pictures/help.png') }}" alt="Help">
    <div id="manual_corrections_explanation">
        Overriding a correction changes the record of the attempt from incorrect to correct.<br>
        Skipping a correction simply moves on to the next term or step, leaving the original attempt incorrect.
    </div>
</div>
{% endblock %}