{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Choice{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="learning_step" id="fill_in_blanks">
    {{ question }}?
    {% for word in blanked_words %}
        {{ word }}
    {% endfor %}
    <form method="POST">
        {% for i in range((blanked_words|length)) %}
            {% set is_blanked = blanked_map[i] %}
            {% if is_blanked %}
                <input id="{{ i }}" name="{{ i }}">
            {% endif %}
        {% endfor %}
        <input type="submit" value="submit">
    </form>
</div>
{% endblock %}