body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    font-family: monospace;
    font-size: 15px;
}

/*Flashed messages styling*/
div.flashed_messages {
    font-size: 30px;
    font-family: monospace;

    padding: 20px;
    margin: 20px;

    color: black;
    border-top: 2px solid darkred;
    border-bottom: 2px solid darkred;
}

/*Search bar styling*/

.search {
    font-family: monospace;
    font-size: 20px;
    margin: 15px;

    display: flex;
    flex-direction: column;
}

div.search > form > input {
    font-size: 20px;
    border: none;
    background: white;
    color: black;
}

div.search > form > input:hover {
    background: black;
    color: white;
}

div.search > form > input#search_field {
    border: 2px solid black;
}

div.search > form > select {
    background: white;
    color: black;
    font-size: 20px;
    font-family: monospace;
    border: none;
}

div.search > form > select:hover {
    background: black;
    color: white;
}

/*Navigation bar styling*/

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 15px;
    border-bottom: 2px solid black;

    font-family: monospace;
    font-size: 20px;
}

.nav > p {
    font-size: 18px;
    align-self: flex-start;
}

.nav > a {
    text-decoration: none;
    margin: 15px;
    background: white;
    color: black;
}

.nav > a:hover {
    background: black;
    color: white;
}

/*Class contents stlying*/
div.class_contents {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

div.class_contents > * {
    font-family: monospace;
    font-size: 20px;
    color: black;
    background-color: white;

    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid black;
}

div#join_class_with_code {
    font-family: monospace;
    font-size: 20px;
    color: black;
    background-color: white;
}

div#gen_class_code * {
    font-family: monospace;
    font-size: 20px;
    color: black;
    background-color: white;
    border: none;
}

div#gen_class_code * input:hover {
    color: white;
    background-color: black;
}

p#class_code {
    font-size: 200px;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    text-align: center;
    margin: 40px;
}

div.class_contents * {
    font-family: monospace;
    font-size: 20px;
    color: black;
    background-color: white;
}

div.class_contents * form * {
    font-size: 20px;
    color: black;
    background-color: white;
    border: none;
}

div.class_contents * form *:hover{
    color: white;
    background-color: black;
}

div.other_class_info {
    width: 80%;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

div.other_class_info > a {
    text-decoration: none;
    margin: 15px;
    background: white;
    color: black;
}

div.other_class_info > a:hover {
    background: black;
    color: white;
}

div.class_section {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

div.class_section > div.class_section_entry {
    padding: 10px;
}

div.class_section > .class_section_title {
    text-align: center;
}

/* STYLING OF DELETING PAGES */
div.delete_object_form {
    font-family: monospace;
    font-size: 20px;
}

div.delete_object_form > form > input {
    font-family: monospace;
    font-size: 20px;

    border: 2px solid black;
    background-color: white;
    color: black;
}

div.delete_object_form > form > input:hover {
    background-color: black;
    color: white;
}

/*Lists of objects
(user decks, public decks, public routines, user routines)*/

div.object_list {
    display: flex;
    flex-direction: column;
}

div.object_instance {
    font-family: monospace;
    font-size: 20px;
    border-style: solid;
    padding: 5px;
    margin: 10px;
}

div.object_instance#routine_instance {
    display: flex;
    flex-direction: row;
}

div.object_instance * {
    text-decoration: none;
    color: black;
    padding: 5px;
}

div.object_info > a {
    background-color: white;
    color: black;
}

div.object_info > a:hover {
    background-color: black;
    color: white;
}

div.object_options > form * {
    background: white;
    color: black;
    border: none;
    font-family: monospace;
    font-size: 20px;
}

div.object_options > form > *:hover {
    background: black;
    color: white;
}

/*Create deck styling*/

div.deck_form {
    font-family: monospace;
    font-size: 20px;
    
    display: flex;
}

div.deck_form > form {
    margin: auto;
    
    width: 700px;
}

div.deck_form > form > * {
    margin: 10px;
    margin-top: 20px;
}

div.deck_form > form > input {
    font-family: monospace;
    font-size: 20px;

    border: 2px solid black;
    background-color: white;
}

div.deck_form > form > input:hover {
    background-color: black;
    color: white;
}

div.deck_form > form > select {
    font-family: monospace;
    font-size: 20px;
}

div.deck_form > form > textarea {
    font-family: monospace;
    font-size: 20px;

    border: 2px solid black;
}

div#deck_explanation {
    display: none;
    font-size: 18px;
}

img#deck_help_icon:hover + div#deck_explanation {
    display: block;
}

div#deck_explanation:hover {
    display: block;
}

div#deck_explanation, img#deck_help_icon {
    padding: 0px;
    margin: 0px;
}

div#deck_explanation {
    width: 80%;
}

/* VIEW DECK STYLING */
div#view_deck {
    display: grid;
    grid-template-areas: 
    "deck-view-modify deck-view-modify"
    "deck-view-terms deck-view-terms";
}

div#view_deck > div {
    font-family: monospace;
    font-size: 20px;

    margin: 20px;
}

div#view_deck > div > a {
    color: black;
    text-decoration: none;
}

div#view_deck > div > a:hover {
    color: white;
    background-color: black;
}

div#view_deck > div > form > input {
    background-color: white;
    color: black;
    border: none;
    font-size: 20px;
    font-family: monospace;
}

div#view_deck > div > form > input:hover {
    background-color: black;
    color: white;
}

div#view_deck > div > form > select {
    font-family: monospace;
    font-size: 20px;
    color: black;
    background-color: white;
}

div#view_deck > div#view_deck_terms {
    grid-area: deck-view-terms;
}

div#view_deck > div#view_deck_modify > * {
    margin: 20px;
}

div#view_deck > div#view_deck_modify {
    grid-area: deck-view-modify;
}

div#view_deck > div#view_deck_terms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* CREATE ROUTINE CSS */

div#routine_form { 
    width: 700px;
    font-family: monospace;
    font-size: 20px;
}

div#routine_form > form > * { 
    margin-top: 30px;
}

div#routine_form > form > input {
    font-family: monospace;
    font-size: 20px;

    color: black;
    background-color: white;

    border: 2px solid black;
}

div#routine_form > form > input:hover {
    color: white;
    background-color: black;
}

div#routine_form > form > select {
    font-family: monospace;
    font-size: 20px;

    color: black;
    background-color: white;

    border: 2px solid black;
}

div#select_routine_steps { 
    margin-top: 20px;
    font-family: monospace;
    font-size: 20px;

    width: 700px;
}

div#routine_steps_explanation {
    display: none;
}

div#routine_steps_explanation:hover {
    display: block;
}

img#routine_help_icon:hover + div#routine_steps_explanation {
    display: block;
}

/* VIEW ROUTINE styling */

div#view_routine {
    display: grid;
    grid-template-areas:
    "view_routine_steps view_routine_mode"
    "view_routine_steps view_routine_modify";

    grid-template-columns: 50% 50%;
}

div#view_routine > div#routine_steps {
    grid-area: view_routine_steps;
    font-family: monospace;
    font-size: 20px;

    margin-left: 300px;
}

div#view_routine > div#routine_mode {
    grid-area: view_routine_mode;
    font-family: monospace;
    font-size: 20px;

    margin-right: 300px;
}

div#view_routine > div#routine_modify {
    grid-area: view_routine_modify;
    font-family: monospace;
    font-size: 20px;
}

div#view_routine > div#routine_modify > a {
    color: black;
    text-decoration: none;
}

div#view_routine > div#routine_modify > a:hover {
    color: white;
    background-color: black;
}

/*Creating form styling -- NOT USED FOR DECK, or ROUTINE*/
div.object_form {
    display: flex;
    flex-direction: column;
}

div.object_form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.object_form > form > * {
    background: white;
    color: black;
    font-family: monospace;
    font-size: 20px;

    padding: 10px;
    margin: 10px;
}

div.object_form > form > input {
    border: 2px solid black;
}

div.object_form > form > select {
    border: 2px solid black;
}

div.object_form > form > input:hover {
    background: black;
    color: white;
}

/*Object view styling*/
div.object_view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    font-family: monospace;
    color: black;
    background-color: white;
}

div.object_view > .object_title {
    font-size: 30px;
}

div.object_view > .object_elements {
    text-align: center;
}

/*Folder options in deck user view styling*/
div#folder_section > div {
    margin: 20px;
    border: 2px solid black;
}

input#new_folder_title {
    width: 25%;
}

/*Learning styling*/

div.learning_step {
    padding: 15px;
    font-size: 20px;
    font-family: monospace;
    border: 2px solid black;
}

div.learning_step * input {
    font-family: monospace;
    font-size: 20px;
    color: black;
    background-color: white;
    border: none;
}

div.learning_step * input:hover {
    color: white;
    background-color: black;
}

/*auth styling*/

div.auth_form > *{
    display: flex;
    justify-content: center;
    flex-direction: column;

    font-size: 20px;
    font-family: monospace;
}

div.auth_form * input {
    font-family: monospace;
    font-size: 20px;

    color: black;
    background-color: white;

    margin: 20px;
}

div.auth_form * input:hover {
    color: white;
    background-color: black;
}

/*Styling for statistics*/
div.graph_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.data_display {
    text-align: center;
    border-bottom: 2px solid black;
    width: 95%
}

div.data_display > .graph_row_title {
    margin: 50px;
    font-size: 35px;
    font-family: monospace;
    color: black;
    text-decoration: none;
    text-align: center;
}

div.data_display > a:hover {
    background-color: black;
    color: white;
}

div.date_filter {
    left: 10%;
}

div.date_filter > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.date_filter > form > * {
    margin: 10px;
    font-family: monospace;
    font-size: 20px;
    border: none;
    color: black;
    background-color: white;
}

div.date_filter > form > #submit_date_filter:hover {
    color: white;
    background-color: black;
}

div#select_routine_steps > * {
    font-size: 20px;
    font-family: monospace;
}

div#select_routine_steps > p#routine_steps_further_explanation {
    display: none;

    width: 750px;
}

div#select_routine_steps > p#routine_steps_further_explanation:hover {
    display: block;
}

div#select_routine_steps:hover > p#routine_steps_further_explanation {
    display:block;
}

div#select_routine_steps > input {
    border: 2px solid black;
    background: white;
    color: black;

    margin: 10px;
}

div#select_routine_steps > input:hover {
    background: black;
    color: white;
}

/* MANUAL CORRECTION STYLING */

div#manual_correction_buttons {
    margin-top: 20px;
}

div#manual_correction_buttons > form > * {
    background-color: white;
    color: black;
    font-family: monospace;
    font-size: 18px;
    border: none;
}

div#manual_correction_buttons > form > input:hover {
    background-color: black;
    color: white;
}

div#manual_corrections_explanation {
    display: none;
    font-family: monospace;
    font-size: 16px;

    max-width: 300px;
}

div#manual_corrections_explanation:hover {
    display: block;
}

img.help_icon {
    width: 24px;
    height: 24px;
}

img#manual_corrections_help:hover + div#manual_corrections_explanation {
    display: block;
}

/* JXG GRAPH STYLING */
div#jxgbox {
    width: 1000px;
    height: 625px;
}

/* SPACED REPETITION STYLING */
div#spaced_repetition_form {
    font-family: monospace;
    font-size: 20px;
}

div#spaced_repetition_form > form { 
    width: 600px;
}

div#spaced_repetition_form > form > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

div#spaced_repetition_form > form > input {
    font-family: monospace;
    font-size: 20px;

    background-color: white;
    border: 2px solid black;
}

div#spaced_repetition_form > form > input:hover {
    background-color: black;
    color: white;
}

div#spaced_repetition_form > form > select {
    font-family: monospace;
    font-size: 20px;

    background-color: white;
    border: 2px solid black;
}

div#spaced_repetition_form > form > select:hover {
    background-color: black;
    color: white;
}

div#spaced_repetition_setting {
    font-family: monospace;
    font-size: 20px;
}

div#spaced_repetition_setting > * {
    line-height: 150%;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#spaced_repetition_setting > * > a {
    color: black;
    text-decoration: none;
}

div#spaced_repetition_setting > * > a:hover {
    color: white;
    background-color: black;
}

/* Tooltip hover for explanations in spaced repetition pages styling */

div#spaced_repetition_graph_explanation {
    display: none;

    font-size: 20px;
    font-family: monospace;

    width: 800px;

    padding: 20px;
    line-height: 24px;
}

div#spaced_repetition_explanation {
    display: none;
}

img#spaced_repetition_help_icon {
    padding: 5px;
}

div#spaced_repetition_explanation:hover {
    display: block;
}

div#spaced_repetition_graph_explanation:hover {
    display: block;
}

img#spaced_repetition_help_icon:hover + div#spaced_repetition_explanation {
    display: block;
}

img#spaced_repetition_help_icon:hover + div#spaced_repetition_graph_explanation {
    display: block;
}

div#view_spaced_repetition_explanation {
    display: none;

    width: 300px;
}

div#view_spaced_repetition_explanation:hover {
    display: block;
}

img#spaced_repetition_help_icon:hover + div#view_spaced_repetition_explanation{
    display: block;
}

/* delete spaced repetition styling */

div#delete_spaced_repetition {
    font-family: monospace;
    font-size: 20px;
}

div#delete_spaced_repetition > form {
    margin-top: 20px;
}

div#delete_spaced_repetition > form > input {
    border: 2px solid black;
    font-size: 20px;
    font-family: monospace;
    background-color: white;
}

div#delete_spaced_repetition > form > input:hover {
    background-color: black;
    color: white;
}

/* spaced repetition suggestions styling */
div#spaced_repetition_all_suggestions {
    font-family: monospace;
    font-size: 20px;

    display: flex;
    flex-direction: row;
}

div#spaced_repetition_day_suggestions {
    display: flex;
    flex-direction: column;

    margin-right: 10px;
    margin-left: 10px;

    padding-left: 10px;
    padding-right: 10px;
    border-right: 2px dashed black;
    border-left: 2px dashed black;
}

div#spaced_repetition_day_suggestions > * {
    margin-top: 10px;
}

div#spaced_repetition_day_suggestions > a {
    color: black;
    text-decoration: none;
}

div#spaced_repetition_day_suggestions > a:hover {
    background-color: black;
    color: white;
}

div.spaced_repetition_traverse_days {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;

    min-width: fit-content;
}

div.spaced_repetition_traverse_days > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}