body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    font-family: monospace;
    font-size: 15px;
}

/*Flashed messages styling*/
div.flashed_messages {
    font-size: 30px;
    font-family: monospace;

    padding: 20px;
    margin: 20px;

    color: black;
    border-top: 2px solid darkred;
    border-bottom: 2px solid darkred;
}

/*Search bar styling*/

.search {
    font-family: monospace;
    font-size: 20px;
    margin: 15px;

    display: flex;
    flex-direction: column;
}

div.search > form > input {
    font-size: 20px;
    border: none;
    background: white;
    color: black;
}

div.search > form > input:hover {
    background: black;
    color: white;
}

div.search > form > input#search_field {
    border: 2px solid black;
}

div.search > form > select {
    background: white;
    color: black;
    font-size: 20px;
    font-family: monospace;
    border: none;
}

div.search > form > select:hover {
    background: black;
    color: white;
}

/*Navigation bar styling*/

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 15px;
    border-bottom: 2px solid black;

    font-family: monospace;
    font-size: 20px;
}

.nav > p {
    font-size: 18px;
    align-self: flex-start;
}

.nav > a {
    text-decoration: none;
    margin: 15px;
    background: white;
    color: black;
}

.nav > a:hover {
    background: black;
    color: white;
}

/*Class contents stlying*/
div.class_contents {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

div.class_contents > * {
    font-family: monospace;
    font-size: 20px;
    color: black;
    background-color: white;

    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid black;
}

div#join_class_with_code {
    font-family: monospace;
    font-size: 20px;
    color: black;
    background-color: white;
}

div#gen_class_code * {
    font-family: monospace;
    font-size: 20px;
    color: black;
    background-color: white;
    border: none;
}

div#gen_class_code * input:hover {
    color: white;
    background-color: black;
}

p#class_code {
    font-size: 200px;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    text-align: center;
    margin: 40px;
}

div.class_contents * {
    font-family: monospace;
    font-size: 20px;
    color: black;
    background-color: white;
}

div.class_contents * form * {
    font-size: 20px;
    color: black;
    background-color: white;
    border: none;
}

div.class_contents * form *:hover{
    color: white;
    background-color: black;
}

div.other_class_info {
    width: 80%;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

div.other_class_info > a {
    text-decoration: none;
    margin: 15px;
    background: white;
    color: black;
}

div.other_class_info > a:hover {
    background: black;
    color: white;
}

div.class_section {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

div.class_section > div.class_section_entry {
    padding: 10px;
}

div.class_section > .class_section_title {
    text-align: center;
}

/* STYLING OF DELETING PAGES */
div.delete_object_form {
    font-family: monospace;
    font-size: 20px;
}

div.delete_object_form > form > input {
    font-family: monospace;
    font-size: 20px;

    border: 2px solid black;
    background-color: white;
    color: black;
}

div.delete_object_form > form > input:hover {
    background-color: black;
    color: white;
}

/*Lists of objects
(user decks, public decks, public routines, user routines)*/

div.object_list {
    display: flex;
    flex-direction: column;
}

div.object_instance {
    font-family: monospace;
    font-size: 20px;
    border-style: solid;
    padding: 5px;
    margin: 10px;
}

div.object_instance#routine_instance {
    display: flex;
    flex-direction: row;
}

div.object_instance * {
    text-decoration: none;
    color: black;
    padding: 5px;
}

div.object_info > a {
    background-color: white;
    color: black;
}

div.object_info > a:hover {
    background-color: black;
    color: white;
}

div.object_options > form * {
    background: white;
    color: black;
    border: none;
    font-family: monospace;
    font-size: 20px;
}

div.object_options > form > *:hover {
    background: black;
    color: white;
}

/*Creating form styling*/
div.object_form {
    display: flex;
    flex-direction: column;
}

div.object_form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.object_form > form > * {
    background: white;
    color: black;
    font-family: monospace;
    font-size: 20px;

    padding: 10px;
    margin: 10px;
}

div.object_form > form > input {
    border: 2px solid black;
}

div.object_form > form > select {
    border: 2px solid black;
}

div.object_form > form > input:hover {
    background: black;
    color: white;
}

/*Object view styling*/
div.object_view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    font-family: monospace;
    color: black;
    background-color: white;
}

div.object_view > .object_title {
    font-size: 30px;
}

div.object_view > .object_elements {
    text-align: center;
}

/*Folder options in deck user view styling*/
div#folder_section > div {
    margin: 20px;
    border: 2px solid black;
}

input#new_folder_title {
    width: 25%;
}

/*Learning styling*/

div.learning_step {
    padding: 15px;
    font-size: 20px;
    font-family: monospace;
    border: 2px solid black;
}

div.learning_step * input {
    font-family: monospace;
    font-size: 20px;
    color: black;
    background-color: white;
    border: none;
}

div.learning_step * input:hover {
    color: white;
    background-color: black;
}

/*auth styling*/

div.auth_form > *{
    display: flex;
    justify-content: center;
    flex-direction: column;

    font-size: 20px;
    font-family: monospace;
}

div.auth_form * input {
    font-family: monospace;
    font-size: 20px;

    color: black;
    background-color: white;

    margin: 20px;
}

div.auth_form * input:hover {
    color: white;
    background-color: black;
}

/*Styling for statistics*/
div.graph_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.data_display {
    text-align: center;
    border-bottom: 2px solid black;
    width: 95%
}

div.data_display > .graph_row_title {
    margin: 50px;
    font-size: 35px;
    font-family: monospace;
    color: black;
    text-decoration: none;
    text-align: center;
}

div.data_display > a:hover {
    background-color: black;
    color: white;
}

div.date_filter {
    left: 10%;
}

div.date_filter > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.date_filter > form > * {
    margin: 10px;
    font-family: monospace;
    font-size: 20px;
    border: none;
    color: black;
    background-color: white;
}

div.date_filter > form > #submit_date_filter:hover {
    color: white;
    background-color: black;
}

div#select_routine_steps > * {
    font-size: 20px;
    font-family: monospace;
}

div#select_routine_steps > p#routine_steps_further_explanation {
    display: none;

    width: 750px;
}

div#select_routine_steps > p#routine_steps_further_explanation:hover {
    display: block;
}

div#select_routine_steps:hover > p#routine_steps_further_explanation {
    display:block;
}

div#select_routine_steps > input {
    border: 2px solid black;
    background: white;
    color: black;

    margin: 10px;
}

div#select_routine_steps > input:hover {
    background: black;
    color: white;
}

/* MANUAL CORRECTION STYLING */

div#manual_correction_buttons {
    margin-top: 20px;
}

div#manual_correction_buttons > form > * {
    background-color: white;
    color: black;
    font-family: monospace;
    font-size: 18px;
    border: none;
}

div#manual_correction_buttons > form > input:hover {
    background-color: black;
    color: white;
}

div#manual_corrections_explanation {
    display: none;
    font-family: monospace;
    font-size: 16px;

    max-width: 300px;
}

div#manual_corrections_explanation:hover {
    display: block;
}

img#manual_corrections_help {
    width: 24px;
    height: 24px;
}

img#manual_corrections_help:hover + div#manual_corrections_explanation {
    display: block;
}