{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}{{ view_class.title }}{%endblock%}</h1>
{% endblock %}

{% block content %}
<div class="class_contents">
    <div class="class_section" id="class_owner">
        <p>Owned by: {{ owner.username }}</p>
    </div>
    <div class="class_section" id="class_publicitity">
        {% if view_class.is_public == 1 %}
            <p>Is public</p>
        {% elif view_class.is_public == 0 %}
            <p>Is private</p>
        {% endif %}
    </div>
    <div class="class_section" id="class_admins">
        <p>Admins:</p>
        {% for admin in admins %}
            <ul>
                <li>{{ admin.username }}
                {%- if is_admin or is_owner -%}
                    <form method="post">
                        <input type="submit" name="remove_admin" value="Remove admin authority">
                        <input type="hidden" name="user_id" value="{{ admin.id }}">
                    </form>
                {%- endif -%}
                </li>
            </ul>
        {% endfor %}
    </div>
    <div class="class_section" id="class_members">
        <p>Members:</p>
        {% for member in members %}
            <ul>
                <li>{{ member.username }}</li>
                {% if ((is_owner) or (is_admin and member.id != user.id)) and member.id != owner.id %}
                    <form method="post">
                        <input type="submit" name="remove_user" value="Remove">
                        {% if member.id not in (admins|map(attribute="admin_id"))|list %}
                            <input type="submit" name="make_admin" value="Make admin">
                        {% else %}
                            <input type="submit" name="remove_admin" value="Remove admin authority">
                        {% endif %}
                        <input type="hidden" name="user_id" value="{{ member.id }}">
                    </form>
                {% endif %}
            </ul>
        {% endfor %}
    </div>
    <a href="{{ url_for('class.add_decks', class_id=view_class.id) }}">Add decks</a>
    <a href="{{ url_for('class.add_routines', class_id=view_class.id) }}">Add routines</a>
    <div class="class_code">
        <a href="{{ url_for('class.gen_code', class_id=view_class.id) }}">Generate a unique code for others to join the class</a>
    </div>
    <div class="class_join_requests">
        {% if join_requests|length > 0 %}
            {% for user in join_requests %}
                <p>{{ user.username}} wants to join</p>
                <form method="post">
                    <input type="submit" name="accept_request" value="Accept request">
                    <input type="submit" name="reject_request" value="Reject request">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                </form>
            {% endfor %}
        {% else %}
            <p>No new join requests</p>
        {% endif %}
    </div>
    <div class="other_class_info">
        <a href="{{ url_for('class.view', class_id=view_class.id) }}">Normal View</a>
        <a href="{{ url_for('class.meta_view', class_id=view_class.id) }}">Meta View</a>
    </div>
</div>
{% endblock %}