{% extends "base.html" %}

{% block header %}
    <h1>{%block title%}Delete {{ class_.title }}{%endblock%}</h1>
{% endblock%}

{% block content %}
<div class="delete_object_form">
    <p>Are you sure you want to delete the class {{ class_.title }}? This action is irreversible.</p>
    <form method="post">
        <label for="password">Enter your password to confirm</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Delete">
    </form>
</div>
{% endblock %}