{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Join class with code{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="gen_class_code">
    <form method="post">
        {% if code %}
            <input type="submit" name="delete_code" value="Delete code">
        {% else %}
            <label for="gen_code">Generate a new unique code</label>
            <input type="submit" id="gen_code" name="gen_code" value="Generate code">
        {% endif %}
    </form>
    {% if code %}
        <p>Code:</p>
        <p id="class_code">{{ code.code }}</p>
    {% endif %}
</div>
{% endblock %}