{% extends "base.html" %}

{% block header %}
    <div class="class_header">
        <h1>{% block title %}{{ view_class.title }} Details{% endblock %}</h1>
        <h2>Owned by {{ owner["username"] }}</h2>
        <h3><a href="{{ url_for('class.view', class_id=view_class.id) }}">Study Page</a>
        {% if user.id in (admins|map(attribute="admin_id"))|list or user.id == owner.id %}
            <a href="{{ url_for('class.admin_view', class_id=view_class.id) }}">Admin Page</a>
        {% endif %}
        </h3>
    </div>
{% endblock %}

{% block content %}
<div class="class_container">
    <div class="class_section">
        {% if view_class.is_public == 1 %}
            <p>{{ view_class.title }} is public, meaning anyone can search for it and request to join.</p>
        {% elif view_class.is_public == 0 %}
            <p>{{ view_class.title }} is public, meaning it cannot be searched for and members must be invited.</p>
        {% endif %}
        <p>Owned by: {{ owner.username }}</p>
    </div>
    <div class="class_section">
        <p>Admins:</p>
        {% if admins|length == 0 %}
            <p>This class has no admins.</p>
        {% else %}
            {% for admin in admins %}
                <ul>
                    <li>{{ admin.username }}
                    {%- if is_owner -%}
                        <form method="post">
                            <input type="submit" name="remove_admin" value="Remove">
                            <input type="hidden" name="user_id" value="{{ admin.id }}">
                        </form>
                    {%- endif -%}
                    </li>
                </ul>
            {% endfor %}
        {% endif %}
    </div>
    <div class="class_section">
        <p>Members:</p>
        {% for member in members %}
            <ul>
                <li>{{ member.username }}</li>
                {% if ((is_owner) or (is_admin and member.id != user.id)) and member.id != owner.id %}
                    <form method="post">
                        <input type="submit" name="remove_user" value="Remove">
                        <input type="submit" name="make_admin" value="Make admin">
                        <input type="hidden" name="user_id" value="{{ member.id }}">
                    </form>
                {% endif %}
            </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}