{% extends "search.html" %}
{% block header %}
    <h1>{% block title %}Public Routines{% endblock %}</h1>
{% endblock %}

{%block content%}
{{ super() }}
<div class="object_list" id="public_routines">
    {% for n in range(routines|length) %}
        <div class="object_instance" id="routine_instance">
            {% set routine = routines[n] %}
            {% set is_saved = saved_info[n] %}
            <div class="object_info" id="routine_info">
                <a href="{{ url_for('routines.view_routine', routine_id=routine.id) }}">{{ routine.title }}</a>:
                {{ routine.steps }}
            </div>
            <div class="object_options" id="routine_options">
                <form method="post">
                    {% if is_saved != -1 %}
                        {% if is_saved == 1 %}
                            <input type="submit" name="unsave_routine" value="Unsave">
                        {% elif is_saved == 0 %}
                            <input type="submit" name="save_routine" value="Save">
                        {% endif %}
                    {% endif %}
                    <input type="hidden" name="routine_id" value="{{ routine.id }}">
                </form>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}