{% extends "base.html" %}
{% block header %}
    <h1>{% block title %}New routine{% endblock %}</h1>
    <script>
        function add_step(button) {
            document.getElementById("steps").value += button.name;
        }
        function remove_step(button) {
            steps = document.getElementById("steps").value;
            steps = steps.substr(0, steps.length-1);
            document.getElementById("steps").value = steps;
        }
        function clear_steps() {
            document.getElementById("steps").value = "";
        }
    </script>
{% endblock %}

{% block content %}
<div class="object_form">
    <form method="post">
        <label for="routine_name">Routine name:</label>
        <input name="routine_name" id="routine_name" required>
        <select name="mode">
            <option value="term_mode">Do all terms, then go to next step</option>
            <option value="step_mode">Do all steps, then go to next term</option>
        </select>
        <label for="steps">Steps:</label>
        <input name="steps" id="steps" required>
        <input type="submit" value="Create Routine">
    </form>
    <div id="select_routine_steps">
        <p id="select_routine_steps_explanation">Press buttons to add steps to your routine, or type in the abbreviations</p>
        <p id="routine_steps_further_explanation">
        Each step is completed for a term in a deck before moving onto the next term.
        So the routine "fac" would show a flashcard of a term, then ask you about that term,
        then correct what you answered, and then do the same for the next term and so on.</p>
        <br>
        {% for step in steps %}
            <input type="submit" name="{{ step.abbreviation }}" value="{{ step.name }} - {{ step.abbreviation }}" onclick="add_step(this)">
        {% endfor %}
        <br>
        <input type="submit" value="Remove" onclick="remove_step(this)">
        <input type="submit" value="Clear" onclick="clear_steps(this)">
    </div>
</div>
{% endblock %}