{% extends "base.html" %}
{% block header %}
    <h1>{% block title %}Update routine{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="object_form">
    <form method="post">
        <label for="routine_name">Routine name:</label>
        <input name="routine_name" id="routine_name" value="{{ routine.title }}"required>
        <label for="routine_mode">Routine mode:</label>
        <select name="mode" id="routine_mode">
            <option value="term_mode">Do all terms, then go to next step</option>
            <option value="step_mode">Do all steps, then go to next term</option>
        </select>
        <label for="steps">Steps:</label>
        <input name="steps" id="steps" value="{{ routine.steps }}" required>
        <input type="submit" value="Update Routine">
    </form>
</div>
{% endblock %}