{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Spaced Repetition Suggestions{% endblock %}</h1>
{% endblock %}

{% block content %}
<label for="filter_date_start">From date:</label>
<input type="date" id="filter_date_start" name="filter_start" value="{{ default_date }}" min="{{ min_date }}" max="{{ max_date }}">
{% for i in range(suggestions|length) %}
    {% set deck = decks[i] %}
    {% set routine = routines[i] %}
    <p>Deck {{ deck.title }} with routine {{ routine.title }} </p>
    <form method="post">
        <input type="submit" name="study" value="Study">
        <input type="submit" name="unsave_from_spaced_repetition" value="Forget">
        <input type="hidden" name="deck_id" value="{{ deck.id }}">
        <input type="hidden" name="routine_id" value="{{ routine.id }}">
    </form>
{% endfor %}
{% endblock %}