{% extends "base.html" %}
{% block header %}
    <h1>{% block title %}Update deck{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="deck_form">
    <form method="post">
        <label for="deck_name">Deck name:</label>
        <input name="deck_name" id="deck_name" value="{{ deck.title }}" required><br>
        <label for="is_public">Is the deck public or private?</label>
        <select name="is_public" id="is_public">
            <option name="private" id="private" value="0">Private</option>
            <option name="public" id="public" value="1">Public</option>
        </select>
        <img class="help_icon" id="deck_help_icon" src="{{ url_for('static', filename='pictures/help.png') }}" alt="Help">
        <div id="deck_explanation">
            Making a deck public means anyone can find it, save it, and study it by searching for it in public decks.<br>
            Making a deck private means only you can see it, unless you add it to a class. Then people in that class can study it. <br>
        </div><br>
        <label for="intra_term_delimiter" >Between question and answer:</label>
        <input name="intra_term_delimiter" id="intra_term_delimiter" value=", " required>
        <img class="help_icon" id="deck_help_icon" src="{{ url_for('static', filename='pictures/help.png') }}" alt="Help">
        <div id="deck_explanation">
            The is the text inbetween the question and answer in each term.<br>
            For example, a value of ' = ' would make 'haben = to have'<br>
            create a term with question 'haben' and answer 'to have'.<br>
            Terms are always separated by a new line.
        </div><br>
        <label for="terms">Terms:</label>
        <img class="help_icon" id="deck_help_icon" src="{{ url_for('static', filename='pictures/help.png') }}" alt="Help">
        <div id="deck_explanation">
            Enter the questions and answers of the terms in this deck separated by new lines.<br>
            For example:<br>
            haben, to have<br>
            sein, to be<br>
            schwimmen, to swim<br>
            Would create a deck with three terms, the second term with a question of sein and answer of to be
            (assuming that ', ' is between the questions and answers)
        </div><br>
        <textarea name="terms" id="terms" required>
        {%- for i in range(terms|length) -%}
            {%- set term = terms[i] -%}
            {{ term.question }}, {{ term.answer}}
            {%- if i != terms|length - 1 -%}
                {{ "\n" }}
            {%- endif -%}
        {%- endfor -%}
        </textarea><br>
        <input type="submit" value="Update Deck">
    </form>
</div>
{% endblock %}