{% extends "base.html" %}
{% block header %}
    <h1>{% block title %}{{deck.title}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="object_view">
    <div class="object_elements" id="terms">
        {% if terms|length == 0 %}
            <p>No terms in this deck</p>
        {% else %}
            <p>Terms:</p>
            {% for term in terms %}
                <div class="term" id="{{term.id}}">
                    <p>{{ term.question }}, {{ term.answer }}</p>
                </div>
            {% endfor %}
        {% endif %}
        <a href="{{ url_for('decks.update', deck_id=deck.id) }}">Update deck</a>
        <a href="{{ url_for('decks.delete', deck_id=deck.id) }}">Delete deck</a>
    </div>
</div>
{% endblock %}