{% extends "base.html" %}

{% block header %}
    {{ super() }}
    <h1>{% block title %}Statistics of All Decks{% endblock %}</h1>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var decks = {{ json_decks|safe }};
        var ask_decks_data = {{ decks_ask_data|safe }};
        var flashcard_decks_data = {{ decks_flashcard_data|safe }};
        var correct_decks_data = {{ decks_correct_data|safe }};
        var multiple_decks_data = {{ decks_multiple_data|safe }};
    </script>
    <script type="text/javascript">
        google.charts.load("current", {"packages":["corechart"]});
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            let width = 500;
            let height = 400;
            drawAccuracyCharts("Accuracy When Asked", width, height,
             "deck_ask_chart_div_", ask_decks_data);

            drawAccuracyCharts("Accuracy When Corrected", width, height,
             "deck_correct_chart_div_", correct_decks_data);

            drawAccuracyCharts("Accuracy When Multiple Choice", width, height,
             "deck_multiple_chart_div_", multiple_decks_data);

            drawFrequencyCharts("Frequency Of Flashcards", width, height,
             "deck_flashcard_chart_div_", flashcard_decks_data);
        }

        function drawAccuracyCharts(title, width, height, base_id, data_set) {
            let limit = {{ decks|length }};
            var index = 0;
            while(index < limit) {
                let deck = JSON.parse(decks[index]);
                if (Object.keys(data_set[index]).length == 0) {
                    index += 1;
                    continue;
                }
                var data = new google.visualization.DataTable(data_set[index]);
                
                var options = {
                    "title":title,
                    "width":width,
                    "height":height,
                };

                var chart = new google.visualization.PieChart(document.getElementById(
                    id=base_id + String(deck.id)
                ));
                chart.draw(data, options)
                index += 1
            }
        }

        function drawFrequencyCharts(title, width, height, base_id, data_set) {
            let limit = {{ decks|length }};
            var index = 0;
            while(index < limit) {
                let deck = JSON.parse(decks[index]);
                if (Object.keys(data_set[index]).length == 0) {
                    index += 1;
                    continue;
                }
                var data = new google.visualization.DataTable(data_set[index]);
                
                var options = {
                    "title":title,
                    "width":width,
                    "height":height,
                };
                
                var chart = new google.visualization.LineChart(document.getElementById(
                    id=base_id + String(deck.id)
                ));
                chart.draw(data, options)
                index += 1
            }
        }
    </script>
{% endblock %}

{% block content %}
    {% for deck in decks %}
        <div class="data_display">
            <a href="{{ url_for('statistics.deck', deck_id=deck['id'] ) }}">{{ deck['title'] }}</a>
            <div class="graph_row">
                <div class="graph" id="deck_ask_chart_div_{{ deck['id'] }}"></div>
                <div class="graph" id="deck_correct_chart_div_{{ deck['id'] }}"></div>
                <div class="graph" id="deck_multiple_chart_div_{{ deck['id'] }}"></div>
                <div class="graph" id="deck_flashcard_chart_div_{{ deck['id'] }}"></div>
            </div>
        </div>
    {% endfor %}
{% endblock %}