{% extends "statistics/date_filter.html" %}

{% block header %}
    <h1>{% block title %}Statistics of All terms in {{ deck_title }} from {{ deck_path }}{% endblock %}</h1>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var terms = {{ json_terms|safe }};
        var ask_terms_data = {{ terms_ask_data|safe }};
        var flashcard_terms_data = {{ terms_flashcard_data|safe }};
        var correct_terms_data = {{ terms_correct_data|safe }};
        var multiple_terms_data = {{ terms_multiple_data|safe }};
    </script>
    <script type="text/javascript">
        google.charts.load("current", {"packages":["corechart"]});
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            let width = 500;
            let height = 400;
            drawAccuracyCharts("Accuracy When Asked", width, height,
             "term_ask_chart_div_", ask_terms_data);

            drawAccuracyCharts("Accuracy When Corrected", width, height,
             "term_correct_chart_div_", correct_terms_data);

            drawAccuracyCharts("Accuracy When Multiple Choice", width, height,
             "term_multiple_chart_div_", multiple_terms_data);

            drawFrequencyCharts("Frequency Of Flashcards", width, height,
             "term_flashcard_chart_div_", flashcard_terms_data);
        }

        function drawAccuracyCharts(title, width, height, base_id, data_set) {
            let limit = {{ terms|length }};
            var index = 0;
            while(index < limit) {
                let term = JSON.parse(terms[index]);
                if (Object.keys(data_set[index]).length == 0) {
                    index += 1;
                    continue;
                }
                var data = new google.visualization.DataTable(data_set[index]);
                
                var options = {
                    "title":title,
                    "width":width,
                    "height":height,
                    "colors":['darkgreen', 'darkred'],
                    "titleTextStyle":{
                        "color":'black',
                        "fontName":'consolas',
                        "fontSize":20,
                        "bold":true,
                        "italic":false
                    },
                    "fontName":'consolas',
                    "pieSliceBorderColor":'black'
                };

                var chart = new google.visualization.PieChart(document.getElementById(
                    id=base_id + String(term.id)
                ));
                chart.draw(data, options)
                index += 1
            }
        }

        function drawFrequencyCharts(title, width, height, base_id, data_set) {
            let limit = {{ terms|length }};
            var index = 0;
            while(index < limit) {
                let term = JSON.parse(terms[index]);
                if (Object.keys(data_set[index]).length == 0) {
                    index += 1;
                    continue;
                }
                var data = new google.visualization.DataTable(data_set[index]);
                
                var options = {
                    "title":title,
                    "width":width,
                    "height":height,
                    "colors":['black'],
                    "titleTextStyle":{
                        "color":'black',
                        "fontName":'consolas',
                        "fontSize":20,
                        "bold":true,
                        "italic":false
                    },
                    "vAxis":{
                        "format":'dd/MM/yy'
                    },
                    "fontName":'consolas',
                    "orientation":'vertical'
                };

                var chart = new google.visualization.BarChart(document.getElementById(
                    id=base_id + String(term.id)
                ));

                chart.draw(data, options)
                index += 1
            }
        }
    </script>
{% endblock %}

{% block content %}
{{ super() }}
{% for term in terms %}
    <div class="data_display">
        <p class="graph_row_title">{{ term['question'] + ", " + term['answer'] }}</p>
        <div class="graph_row">
            <div class="graph" id="term_ask_chart_div_{{ term['id'] }}"></div>
            <div class="graph" id="term_correct_chart_div_{{ term['id'] }}"></div>
            <div class="graph" id="term_multiple_chart_div_{{ term['id'] }}"></div>
            <div class="graph" id="term_flashcard_chart_div_{{ term['id'] }}"></div>
        </div>
    </div>
{% endfor %}
{% endblock %}